body{
    font-family: Verdana;
}
header>*{
    background-color: seagreen;
    color: white;
    line-height: 150px;
    height: 260px;
    font-size: 160%;
}
header{
    width: 100%;
}
header>section{
width: 75%;
}
header>article{
    width: 25%;
    text-align: right;
}