body{
    font-family: Georgia;
    text-align: center;
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
header,footer{
    background-color:  #4BA3C7;
    color: white;
    height: 80px;
    font-size: 120%;
    width: 100%;
}
main{
    display: flex;
    width: 100%;
}
#lewy,#prawy{
background-color: #EFEFEF;
height: 400px;
width: 25%;
}
#srodkowy{
    background-color: #90CAF9;
    height: 400px; 
    width: 50%;
}
table{
    margin-left: 10px;
    width: 90%;
    border: 1px solid #90CAF9;
}
td{
   padding: 5px;
   border: solid #90CAF9 1px;
}
tr:hover{
    color:#90CAF9;
}
#ilosc{
    padding-top: 15px;
    padding-bottom: 15px;
}