body *{
    font-family: Cambria;
}
img[src="obraz2.jpg"]{
    width: 700px;
}
#pers{
    max-width: 240px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#lewy{
background-color: #E1BEE7;
width: 25%;
}
#lewy>article{
    height: 400px;
}
#lewy>section{
    height: 330px;
}
#prawy{
    width: 75%;
    font-size: 170%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
#prawy>header{
    flex-basis: 100%;
    background-color: #9C64A6;
    /* background-color: black; */
    color: white;
    height: 150px;
    letter-spacing: 5px;
}
#prawy>section{
    flex-basis: 100%;
    color: indigo;
    height: 580px;
}
footer{
    background-color: #9C64A6;
    color: white;
    padding: 10px;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 100px;
}
h2{
    text-align: center;
}
ul{
    list-style-type: circle;
    
}
img{
    padding: 4px;
    margin: 15px;
}
img:hover{
    padding: 3px;
    border: 1px indigo dashed;
}
#odsylacz{
    padding: 25px;
}