body *{
font-family: Georgia;
text-align: center;
}
footer,header{
background-color: #4BA3C7;
color: white;
height: 80px;
font-size: 120%;
}
aside,section{
    background-color: #EFEFEF;
    height: 400px;
    width: 25%;
}
main>main{
    background-color:  #90CAF9;
    height: 400px;
    width: 50%;
}
table{
margin-left: 10px;
width: 90%;
border:1px solid#90CAF9;
}
td{
border: 1px #90CAF9 solid;
padding: 5px;
}
tr:hover{
background-color: #90CAF9;
}
input{
margin-top: 15px;
margin-bottom: 15px;
}
.container>main{
    flex-basis: 100%;
    display: flex;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
header,footer{
flex-basis: 100%;
}
label{
    display: block;
}
